.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  background-color: #d1d5ca;
}

.navbar{
  font-size: 1.5em !important;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 200px));
  gap: 20px;
  width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  justify-content: center;
  margin-top: 40px;
}

.container img{
  width: 90%;
  justify-self: center;
  height: 180px;
}

.title{
  justify-self: center;
  background-color: black;
  color: antiquewhite;
  padding: 20px;
}

.categories{
  display: flex;
}

.category{
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 10px;
  padding: 5px !important;
  cursor: pointer;
  transition: .5s !important;
}

.category:hover {
  color: antiquewhite !important;
  background-color: #282c34;
}

.cart-icon{
  font-size: 1.5em;
  margin-right: 20px;
  display: flex;
}

.cart-icon p{
  padding: 0px;
  font-size: .8em !important;
}

.icon{
  padding: 0px;
}

.counter{
  display: flex;
  margin: 20px;
  padding: 5px;
  border: 1px solid black;
}

.counter button{
  border: none;
  background-color: inherit;
}

.counter div{
  margin-inline: 10px;
}
